In [1]:
import re
import requests
from bs4 import BeautifulSoup
import time
import os
import pandas as pd

In [2]:
data = []

my_headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'}

page = 810

for k in range(0, page+30, 30):
    if k == 0 :
        url = 'https://www.tripadvisor.com/Hotels-g60763-New_York_City_New_York-Hotels.html'
    else: 
        url = 'https://www.tripadvisor.com/Hotels-g60763-oa'+str(k)+'-New_York_City_New_York-Hotels.html'
    src = False
    for i in range(1,6):
        try:
            response = requests.get(url, headers = my_headers)
            src = response.content
            break
        except:
            print('failed attempt #', i)
            time.sleep(2)
    if not src:
        print('Could not get page', url)
    else:
        print('Successfully get the page', url)
    
    soup = BeautifulSoup(src.decode('ascii', 'ignore'),'lxml')
    
    divs = soup.findAll('div', {'class':re.compile('prw_rup prw_meta_hsx_responsive_listing ui_section listItem')})
    
    for div in divs:
        span = div.find('a', {'class':re.compile('ui_bubble_rating')})
        hotels = div.find('a', {'class':re.compile('property_title prominent')})
        reviews = div.find('a', {'class':re.compile('review_count')})
        if span:
            rating = span.attrs['class'][1]
        if reviews:
            hotel = hotels.text.strip()
        if reviews:
            review = reviews.text.strip()
        data.append([rating, hotel, review]) 
        
with open('Hotel Summary.txt', 'w', encoding='utf-8') as f:
    for text in data:
        f.write(text[0] + '\t' + text[1] + '\t' + text[2]+ '\n')

Successfully get the page https://www.tripadvisor.com/Hotels-g60763-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa30-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa60-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa90-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa120-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa150-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa180-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa210-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa240-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa270-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa300-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa330-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa360-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa390-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa420-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa450-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa480-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa510-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa540-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa570-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa600-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa630-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa660-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa690-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa720-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa750-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa780-New_York_City_New_York-Hotels.html
Successfully get the page https://www.tripadvisor.com/Hotels-g60763-oa810-New_York_City_New_York-Hotels.html

In [3]:
HotelSum_cols=['rate','hotel_name','review_num']
HotelSum = pd.read_csv('Hotel Summary.txt', sep = '\t', header=None, names=HotelSum_cols)
HotelSum.head()

,rate,hotel_name,review_num
0,bubble_35,Fairfield Inn & Suites New York Manhattan/Time...,69 reviews
1,bubble_40,Crowne Plaza Times Square Manhattan,"11,740 reviews"
2,bubble_40,Park Lane Hotel,"9,123 reviews"
3,bubble_45,Arlo NoMad,"1,401 reviews"
4,bubble_40,"Martinique New York on Broadway, Curio Collect...","5,625 reviews"

In [4]:
for i in range(len(HotelSum)):
    HotelSum.iloc[i]['rate'] = HotelSum.iloc[i]['rate'][7:]
    HotelSum.iloc[i]['review_num'] = HotelSum.iloc[i]['review_num'].split()[0]
    HotelSum.iloc[i]['review_num'] = HotelSum.iloc[i]['review_num'].replace(',','')
    HotelSum.iloc[i]['review_num'] = int(HotelSum.iloc[i]['review_num'])
HotelSum.head()

  rate                                         hotel_name review_num
0   35  Fairfield Inn & Suites New York Manhattan/Time...         69
1   40                Crowne Plaza Times Square Manhattan      11740
2   40                                    Park Lane Hotel       9123
3   45                                         Arlo NoMad       1401
4   40  Martinique New York on Broadway, Curio Collect...       5625

In [5]:
booleans = []
for reviews in HotelSum.review_num:    
    if reviews >= 600:        
        booleans.append(True)    
    else:        
        booleans.append(False)

In [6]:
enough_reviews=pd.Series(booleans)
HotelSum[enough_reviews]
HotelSum[enough_reviews].sort_values('rate')

    rate                                        hotel_name review_num
780   25                                      Hotel Carter       4302
474   25                                   Morningside Inn        936
443   30                             Riverside Tower Hotel        771
471   30                                Hotel Pennsylvania       1451
472   30  Days Inn by Wyndham Hotel New York City-Broadway       2294
454   30                                    West Side YMCA       1555
488   30                                   Hudson New York       8301
476   30                   Midtown Convention Center Hotel        964
428   30                                  Royal Park Hotel        752
414   35                                Hudson River Hotel        749
509   35                                Wyndham Midtown 45       1105
513   35             NH Collection New York Madison Avenue       2817
412   35            DoubleTree by Hilton New York Downtown       3065
466   35                                 Astor on the Park       1584
463   35         Doubletree By Hilton - Times Square South       2540
460   35                               The Roosevelt Hotel      11680
327   35                                   Hotel St. James       3146
449   35                                     Mayfair Hotel       1095
453   35                               The Vanderbilt YMCA       1580
452   35                                  The Bowery House        668
364   35                                  The Empire Hotel       8248
445   35                                  OYO Times Square       5353
442   35                      Chelsea International Hostel        734
441   35                                Hudson River Hotel        749
438   35                                      The Franklin        835
435   35                        The Gallivant Times Square       2953
432   35           Holiday Inn Manhattan 6th Ave - Chelsea       1550
431   35                                  Jazz on the Park        609
430   35                              Grand Hyatt New York      11471
429   35                                   Blue Moon Hotel        645
..   ...                                               ...        ...
290   45                                   Greenwich Hotel        602
291   45                   West 57th Street by Hilton Club       1744
292   45                 Courtyard New York Manhattan/SoHo        641
188   45           Renaissance New York Times Square Hotel       2737
187   45                          WestHouse Hotel New York       2592
186   45                                Kimpton Muse Hotel       3628
298   45                          The NoMad Hotel New York       1012
184   45                                             Kixby       4756
181   45                   Gardens Suites Hotel by Affinia       2260
167   45                              Omni Berkshire Place       4813
179   45                        The Standard, East Village       1053
180   45                                        The Surrey       2303
177   45                                 Andaz Wall Street       3489
169   45                  Cambria Hotel New York - Chelsea       1348
170   45                    citizenM New York Times Square       4599
171   45          Hampton Inn Manhattan-Times Square North       6611
172   45                                 The Marlton Hotel        759
178   45                                 The Time New York       1305
879   45    Courtyard New York Manhattan/Times Square West       1390
175   45                          Conrad New York Downtown       4213
176   45               The Jewel facing Rockefeller Center       2920
236   50         Hotel Giraffe by Library Hotel Collection       4867
219   50               The Towers at Lotte New York Palace       2057
233   50                            The Roxy Hotel Tribeca       1526
274   50      Casablanca Hotel by Library Hotel Collection       6871
250   50         Library Hotel by Library Hotel Collection       4815
287   50                       The Sherry-Netherland Hotel        823
256   50                               Crosby Street Hotel        878
253   50                                        The Broome        609
730   50         Hotel Giraffe by Library Hotel Collection       4867

[434 rows x 3 columns]